<p>
  <strong>Nom:</strong>
  <%= @place.name %>
</p>

<% if @place.is_certified? %>
  <p>
    <strong>Cet établissement est certifié par: </strong><%= @place.certification %>
  </p>
<% end %>
<p>
  <strong>Adresse:</strong>
  <%= @place.address %>
</p>

<% @place.ratings.each do |rat| %>
  <p>
  <strong><%= rat.user.name %></strong>
  <ul>
    <% rat.values.each_with_index do |val, i| %>
      <li><strong><%= rat.user.handicap.detailed_criterions[i].criterion.name %></strong>: <%= val %></li>
    <% end %>
  </ul>
  </p>
<% end %>

<% if user_signed_in? && !@place.ratings.map(&:user).include?(current_user)%>
  <%= link_to 'Vote', new_place_rating_path(@place) %>
<% end %>

<%= link_to 'Back', places_path %>
