<!DOCTYPE html>
<html>
  <head>
    <title>Mobalib - Votre allié accessibilité.</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>

  </head>
  <body>
    <%= render 'shared/navbar' %>

    <% if !notice.nil? && !alert.nil? %>
      <%= render 'shared/flashes' %>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag "application", params[:controller] %>
    <%= cloudinary_js_config %>
    <%= yield :after_js %>
  </body>
</html>
